:root{
  --point-color: #faf1aa;
  --bg-color: #000;
  --font-color-white: #fff;
  --font-color-black: #000;
  --font-color-gray: #666;
  --header-height: 80px;
  --inner-sidePadding: 40px;
  --section-bottomPadding: 80px;
}

body::-webkit-scrollbar {display: none;}
body{scrollbar-width: none; /* 파폭 */}

html, body{background-color: var(--bg-color);}
.ft--player{font-family: "PLAYER", sans-serif; color: var(--font-color-white);}
.scrollDisable{overflow: hidden; width: 100%; height: 100vh;}
.inner{width: 100%; height: 100%; padding: 0 var(--inner-sidePadding); box-sizing: border-box;}

.introWrapper{display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: var(--bg-color);}
.noticePopup{display: flex; flex-direction: column;}
.noticePopup__p{width: 20rem; font-size: 1.125rem; word-break: keep-all; text-align: center; line-height: 1.7;}
.btn{display: inline-block; padding: 1rem 2rem; border: 1px solid #fff; border-radius: 10px; transition: .2s linear;}
.btn:hover{color: var(--point-color); border-color: var(--point-color);}
.btn--hoverBg:hover{color: var(--font-color-black); border-color: var(--point-color); background-color: var(--point-color);}
.noticeCloseBtn{margin: 2rem auto 0;}
.introBox{display: none; font-size: 18.75rem;}

.header{position: fixed; top: 0; left: 0; z-index: 99; width: 100%; height: var(--header-height); border-bottom: 2px solid #666; background-color: var(--bg-color); box-sizing: border-box;}
.inner--header{display: flex; justify-content: space-between; align-items: center;}
.logo__link{font-size: 2.5rem; line-height: 1; letter-spacing: 2px; transition: color .2s linear;}
.logo__link:hover{color: var(--point-color);}
.menuBtn{display: flex; justify-content: space-between; align-items: center; flex-direction: column; width: 1.875rem; height: 1.5rem; /* padding: 0.5rem; */}
.menuBtn__line{display: inline-block; width: 100%; height: 2px; background-color: #fff; transition: all .2s ease;}
.menuBtn__line--02{transform: translateX(-30%);}
.menuBtn:hover .menuBtn__line--02{transform: translateX(0%); background-color: var(--point-color);}


.scrollBar{position: absolute; top: 100%; left: 0; width: 0%; height: 2px; background: var(--point-color);}

.section{width: 100%; height: 100vh; padding-top: var(--header-height); padding-bottom: 80px; box-sizing: border-box;}
.sec01{background: #000;}
.sec02{background: #000; height: auto;}
.sec03{background: #ddd;}

.sec02 .subTitBox *{color: var(--font-color-white);}
.subTitBox .inner{height: auto;}
.productWrap{position: relative; width: 100%; height: 300vh; margin-top: 50px; padding-left: var(--inner-sidePadding); box-sizing: border-box;}
.productTumb{position: absolute; top: 0; right: 0; width: 50%; height: calc(100vh - 80px); background-image: url(https://cdn.cashfeed.co.kr/attachments/2cb0a575ee.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;}
.productTumb.fixed{position: fixed; top: var(--header-height);}
.productTumb.bottom{position: absolute; top: unset; bottom: 0;}
.productList{display: flex; flex-wrap: wrap; gap: 2rem; width: 48%;}
.prodItem{overflow: hidden; position: relative; display: flex; justify-content: space-between; flex-direction: column; width: calc(50% - 2rem); min-width: 260px; background-color: #fff; border-radius: 2rem; box-sizing: border-box;}
.prodItem *{color: var(--font-color-black);}
.prodItem__info{padding: 2rem 1rem;}

.prodTitWrap{margin-bottom: 1rem;}
.prodItem__link{position: relative; color: var(--font-color-black); font-size: 1.5rem; font-weight: bold; line-height: 1;}
.prodItem__link::after{content :""; position: absolute; top: 50%; left: calc(100% + .5rem); transform: translateY(-50%); width: 24px; height: 24px; background-image: url(/res/img/linkIcon.png); background-size: contain; background-position: center; background-repeat: no-repeat;}
.duration{margin-top: 0.5rem; font-size: 0.875rem; color: var(--font-color-gray);}

.prodItem__dl{display: flex; gap: 1rem; width: 100%; margin-bottom: 0.2rem; font-size: 0.875rem; }
.prodItem__dt{position: relative; width: 100px;}
.prodItem__dt::after{content: ""; position: absolute; top: .4rem; left: calc(100% + .2rem); width: 1px; height: 0.6rem; background-color: var(--font-color-gray);}
.prodItem__dd{width: calc(100% - 1rem - 100px);}
.prodItem__dt, .prodItem__dd{color: var(--font-color-black); line-height: 1.6; }
.prodItem__dd .badge{display: inline-block; padding: 0.2rem .5rem; background-color: var(--font-color-gray); color: var(--font-color-white); font-size: 0.75rem; border-radius: 10px; margin-right: 0.3rem;}

.prodItem__btns{display: flex; justify-content: center; align-items: center; gap: 1rem; width: 100%; padding: 0.5rem;}
.prodItem__btn{padding: 0.5rem 2rem;}
.prodItem__tumb{overflow: hidden; position: relative; bottom: 0; width: 100%; padding-top: 50%; border-radius: 2rem; background-image: url(https://cdn.cashfeed.co.kr/attachments/2cb0a575ee.jpg); background-size: cover; background-position: center; background-repeat: no-repeat; cursor: pointer;}
.prodItem__tumb:hover::before{content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.25); background-image: url(/res/img/thumbDetailIcon.png); background-size: 36px 36px; background-position: center; background-repeat: no-repeat;}


@media screen and (max-width: 1200px) {
  :root{
    --header-height: 60px;
    --inner-sidePadding: 20px;
  }
  .introBox{font-size: 11.25rem;}
  .inner{padding: 0 var(--inner-sidePadding);}
  .productTumb{display: none;}
  .productList{width: 100%;}
}

@media screen and (max-width: 600px) {
  .productWrap{padding: 0 var(--inner-sidePadding);}
  .productList{justify-content: center;}
  .prodItem{width: 100%;}
}
