:root{
  --point-color: #faf1aa;
  --bg-color: #000;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #666;
  --color-lightgray: #eee;
  --header-height: 5rem;
  --inner-sidePadding: 2.5rem;
  --section-bottomPadding: 5rem;
}

body::-webkit-scrollbar {display: none;}
body{scrollbar-width: none; /* 파폭 */}

html, body{background-color: var(--bg-color);}
.ft--player{font-family: "PLAYER", sans-serif; color: var(--color-white);}
.scrollDisable{overflow: hidden; width: 100%; height: 100vh;}
.inner{width: 100%; height: 100%; padding: 0 var(--inner-sidePadding); box-sizing: border-box;}

.introWrapper{display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: var(--bg-color);}
.noticePopup{display: flex; flex-direction: column;}
.noticePopup__p{width: 20rem; font-size: 1.125rem; word-break: keep-all; text-align: center; line-height: 1.7;}
.btn{display: inline-block; padding: 1rem 2rem; border: 1px solid #fff; border-radius: 10px; transition: .2s linear;}
.btn:hover{color: var(--point-color); border-color: var(--point-color);}
.btn--hoverBg:hover{color: var(--color-black); border-color: var(--point-color); background-color: var(--point-color);}
.noticeCloseBtn{margin: 2rem auto 0;}
.introBox{display: none; font-size: 18.75rem;}

.header{position: fixed; top: 0; left: 0; z-index: 99; width: 100%; height: var(--header-height); border-bottom: 2px solid #666; background-color: var(--bg-color); box-sizing: border-box;}
.inner--header{display: flex; justify-content: space-between; align-items: center;}
.logo__link{font-size: 2.5rem; line-height: 1; letter-spacing: 2px; transition: color .2s linear;}
.logo__link:hover{color: var(--point-color);}
.menuBtn{display: flex; justify-content: space-between; align-items: center; flex-direction: column; width: 1.875rem; height: 1.5rem; /* padding: 0.5rem; */}
.menuBtn__line{display: inline-block; width: 100%; height: 2px; background-color: #fff; transition: all .2s ease;}
.menuBtn__line--02{transform: translateX(-30%);}
.menuBtn:hover .menuBtn__line--02{transform: translateX(0%); background-color: var(--point-color);}

.scrollBar{position: absolute; top: 100%; left: 0; width: 0%; height: 2px; background: var(--point-color);}

.section{width: 100%; height: 100vh; padding-top: var(--header-height); padding-bottom: 80px; box-sizing: border-box;}
.sec01{background: #000;}
.sec02{background: #000; height: auto; padding-bottom: 0;}
.sec03{background: #000;}

.subTit{color: var(--color-white); font-size: 32px;}
.subTitBox .inner{height: auto;}
.productWrap{position: relative; width: 100%; min-height: 240vh; margin-top: 50px; padding-left: var(--inner-sidePadding); box-sizing: border-box;}
.productThumb{display: flex; justify-content: center; align-items: center; position: absolute; top: 0; right: 0; width: 50%; height: calc(100vh - 80px); background-image: url(); background-color: var(--color-lightgray); background-size: contain; background-position: center; background-repeat: no-repeat;}
/* .productThumb__img{height: 100%;} */
.productThumb.fixed{position: fixed; top: var(--header-height);}
.productThumb.bottom{position: absolute; top: unset; bottom: 0;}
.productList{display: flex; flex-wrap: wrap; gap: 2rem; width: 48%; padding-bottom: var(--section-bottomPadding);}
.prodItem{overflow: hidden; position: relative; display: flex; justify-content: space-between; flex-direction: column; width: calc(50% - 2rem); min-width: 260px; background-color: #fff; border-radius: 2rem; box-sizing: border-box;}
.prodItem *{color: var(--color-black);}
.prodItem__info{padding: 2rem 1rem;}

.prodTitWrap{margin-bottom: 1rem;}
.prodItem__link{position: relative; color: var(--color-black); font-size: 1.5rem; font-weight: bold; line-height: 1;}
.prodItem__link::after{content :""; position: absolute; top: 50%; left: calc(100% + .5rem); transform: translateY(-50%); width: 24px; height: 24px; background-image: url(/res/img/linkIcon.png); background-size: contain; background-position: center; background-repeat: no-repeat;}
.duration{margin-top: 0.5rem; font-size: 0.875rem; color: var(--color-gray);}

.prodItem__dl{display: flex; gap: 1rem; width: 100%; margin-bottom: 0.2rem; font-size: 0.875rem; }
.prodItem__dt{position: relative; width: 100px;}
.prodItem__dt::after{content: ""; position: absolute; top: .4rem; left: calc(100% + .2rem); width: 1px; height: 0.6rem; background-color: var(--color-gray);}
.prodItem__dd{width: calc(100% - 1rem - 100px); word-break: keep-all;}
.prodItem__dt, .prodItem__dd{color: var(--color-black); line-height: 1.6; }
.prodItem__dd .badge{display: inline-block; padding: 0.2rem .5rem; background-color: var(--color-gray); color: var(--color-white); font-size: 0.75rem; border-radius: 10px; margin-right: 0.3rem;}

/* .prodItem__refBox{display: flex; justify-content: flex-end; align-items: center; gap: 0.3rem; margin-top: 0.5rem;} */
.prodItem__refBox{display: flex; flex-direction: column; gap: 0.3rem; position: absolute; top: .8rem; right: .8rem;}
.refIcon{overflow: hidden; width: 2rem; height: 2rem; border-radius: 100%;}
.refIcon--github{background-image: url(/res/img/githubIcon.png); background-size: cover; background-position: center; background-repeat: no-repeat;}

.prodItem__thumb{overflow: hidden; position: relative; bottom: 0; width: 100%; padding-top: 70%; border-radius: 2rem; background-image: url(); background-size: cover; background-position: center top; background-repeat: no-repeat; cursor: pointer;}
.prodItem__thumb::before{content: ""; display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.25); background-image: url(/res/img/thumbDetailIcon.png); background-size: 2.25rem 2.25rem; background-position: center; background-repeat: no-repeat;}
.prodItem__thumb:hover::before{display: block;}
.closeTumbPopupBtn{display: none;}
.dim{display: none; position: fixed; top: 0; left: 0; z-index: 100; display: none; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.6);}

@media screen and (max-width: 1200px) {
  :root{
    --header-height: 60px;
    --inner-sidePadding: 20px;
  }
  .introBox{font-size: 11.25rem;}
  .inner{padding: 0 var(--inner-sidePadding);}
  .productWrap{min-height: auto;}
  .productThumb{display: none;}
  .productList{width: 100%;}
  .prodItem__thumb::before{display: block; top: unset; left: unset; bottom: 1rem; right: 1rem; width: 2.25rem; height: 2.25rem; background-color: transparent; filter: drop-shadow(1px 1px 3px #000);}
  .productThumb.popup{display: none; position: fixed; top: calc(50% + 1.125rem); left: 50%; transform: translate(-50%, -50%); z-index: 105; width: 80%; height: auto; padding-top: 85%; border-radius: 2rem;}
  .productThumb.popup.on{display: block;}
  .productThumb__img{display: none;}
  .closeTumbPopupBtn{display: flex; justify-content: center; align-items: center; position: absolute; bottom: calc(100% + .2rem); right: 0; width: 1.875rem; height: 1.875rem; background-image: url(/res/img/xIcon.png); background-size: cover; background-position: center; background-repeat: no-repeat;}
  .dim.on{display: block;}
}

@media screen and (max-width: 600px) {
  .productWrap{padding: 0 var(--inner-sidePadding);}
  .productList{justify-content: center;}
  .prodItem{width: 100%;}
}
